.chat-side
  .side_header
    .side_hesder__box
      %p.side-header__box__username
        神
      %ul.side-header__box__menu
        %li.side-header__box__edit-user
          = link_to "#" do
            = icon('fas', 'edit',  class: "side__header__icon--btn")
        %li.side-header__box__new-group
          = link_to "#" do
            = icon('fas', 'cog',  class: "side__header__icon--btn")
  .groups
    .group
      .group__name
        ゴールド
      .group__message
        まぁまぁだったな
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ